/* Globals
*/



/* Header 
*/




/* Calculation Popup
*/




/* Chart List
*/

.chartList{
    float: "left";
    height: 500px;
    width: 500px;
    background-color: rgb(237, 240, 245);
    overflow-y: scroll;
}


/* Title
*/




/* Body
*/




/* Chart
*/




/* Chart Controls
*/



/* Footer
*/