/* Globals
*/
.App {
    display: flex;
}

/* Calculation Popup
*/

.NewChartDialog, .ReturnChartDialog {
    height: 200px;
    width: auto;
}


/* Chart List
*/

.chartList{
    height: 500px;
    width: 250px;
    background-color: rgb(237, 240, 245);
    overflow-y: scroll;
}

.selectedChartItem {
    background-color: lightblue;
}


.ChartDeleteButton {
    margin-left: auto;
    margin-right: 0;
    text-align: right;    
}

/* Title
*/




/* Control Panel
*/

.ControlPanel {
    background-color: lightcyan;
}

.SolunarReturnButton, .NewChartButton {
    height: 20px;
    width: 280px;
    border-radius: 5px;
}

.ResetChartsButton {
    height: 20px;
    width: 280px;
    border-radius: 5px;
    background-color: rgb(246, 227, 227);
}

/* Chart
*/



/* Chart Controls
*/



/* Footer
*/