.aspect-panel {
  border-left: 1px solid black;
  height: calc(100vh - 40px);
  overflow-y: scroll;
  width: 20%;
}

.aspect-panel thead {
  border-bottom: 1px solid darkgrey;
}

.aspect-panel tr:nth-child(even) {
  background-color: whitesmoke;
}

.aspect-panel table {
  width: 100%;
}

.aspect-panel th {
  text-align: center;
}

.aspect-panel td {
  padding: px 10px;
  text-align: center;
}