@import "./variables.scss";

.aspect-panel {
  border-left: 1px solid black;
  height: calc(100vh - 40px - 36px);
  overflow-y: auto;
  width: 20%;
}

.aspect-panel tr:nth-child(even) {
  background-color: whitesmoke;
}

.aspect-panel table {
  border-collapse: collapse;
  width: 100%;
}

.aspect-panel th {
  background-color: $white;
  border-bottom: 1px solid darkgrey;
  box-shadow: 0 1px 0 black;
  position: sticky;
  text-align: center;
  top: 0;
}

.aspect-panel td {
  padding: 2px;
  text-align: center;
}

.aspect-panel-kofi {
  background-color: $white;
  height: 36px;
}
