@import "./variables.scss";

.chartList{
  background-image: linear-gradient(to top right, $cyan-process, $blue-crayola);
  height: calc(82% - 36px);
  overflow-y: scroll;
  width: 100%;
}

.chart-item {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 2px 0px;
}

.chart-name {
  font-size: 1rem;
}

.action-icons {
  display: flex;
  visibility: hidden;
}

.chart-item:hover {
  background-color: $amethyst;
  
  // Display action icons when hovering over line
  .action-icons {
    visibility: visible;
  }
}

.icon {
  color: $jet;
  font-size: 0.1rem;
}

.selected {
  outline: 2px solid $jet;

  // Display action icons for selected line
  .action-icons {
    visibility: visible;
  }
}
