@import "./variables.scss";

.chartList{
  background-image: linear-gradient(to top right, $cyan-process, $blue-crayola);
  height: calc(82% - 36px);
  overflow-y: scroll;
  width: 100%;
}

.action-icon {
  margin-left: 0;
  color: $jet;
  /* float: right; */
}

.chart-item {
  display: flex;
}

.selected {
  background-color: $amethyst;
}

.chart-delete-button {
  margin-left: auto;
  margin-right: 0;
  text-align: right;    
}