@import "./variables.scss";

.ControlPanel {
  background-image: linear-gradient(to top right, $cyan-process, $blue-crayola);
  height: calc(100vh - 40px - 36px);
  overflow-y: auto;
  width: 20%;
}

.btn-blue {
  align-items: center;
  background-color: $white;
  border-color: $jet;
  border-radius: 6px;
  color: $blue-crayola;
  display: flex;
  font-weight: bold;
  height: 1.5rem;
  justify-content: center;
  letter-spacing: 0.05em;
  width: 100%;
}

.btn-blue:hover {
  background-color: $blue-crayola;
  color: $white;
}

.btn-blue:disabled {
  background-color: gray;
  color: $white;
}
.btn-blue:hover:disabled{
  color: $white;
}

.btn-red {
  align-items: center;
  background-color: $white;
  border-radius: 6px;
  border-color: black;
  color: $radical-red;
  display: flex;
  font-weight: bold;
  height: 1.5rem;
  justify-content: center;
  letter-spacing: 0.05em;
  width: 100%;
}

.btn-red:hover {
  color: $white;
  background-color: $radical-red;
}

.view-buttons {
  display: flex;
  justify-content: space-evenly;
}

input {
  align-items: center;
  display: inline-flex;
  margin: 0.3rem 0;
}

label {
  align-items: center;
  display: inline-flex;
  margin-bottom: 0rem;
}