.ControlPanel {
  background-color: lightcyan;
  height: calc(100vh - 40px);
  overflow-y: auto;
  width: 20%;
}

.SolunarReturnButton, .NewChartButton, .RelocateChartButton {
  border-radius: 5px;
  height: 20px;
  width: 100%;
}

.ResetChartsButton {
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(246, 227, 227);
}