.Faq {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  height: 50vh;
  overflow-y: scroll;
  margin-left: 3px;
}

.FaqHeader {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
}

