.navbar  {
  height: 40px;
  border-bottom: 1px solid gray;
  justify-content: flex-end;
}

.nav-icon {
  animation: fadeIn ease 750ms;
  -webkit-animation: fadeIn ease 750ms;
  -moz-animation: fadeIn ease 750ms;
  -o-animation: fadeIn ease 750ms;
  -ms-animation: fadeIn ease 750ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}