.user-settings-container {
  background-color: lightskyblue;
}

.user-settings {
  align-items: center; 
  height: calc(100vh - 40px - 48px);
  overflow-y: auto;
  text-align: center;
  width: 20%;
}

