@import "../shared/variables.scss";

.control-panel-container {
  background-image: linear-gradient(to bottom, $byzantine, $amethyst, $oxford-blue);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  justify-content: space-between;
  width: 20%;
}

.chartlist-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.control-panel-buttons {
  height: auto;
}
