@use "../shared/variables.scss";

.user-settings-container {
    background-color: variables.$blue-crayola;
}

.user-settings {
    align-items: center; 
    color: variables.$white;
    height: calc(100vh - 40px - 48px);
    overflow-y: auto;
    text-align: center;
    width: 20%;
}

