@use "../shared/variables.scss";

.view-buttons {
    align-items: center;
    color: variables.$white;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;

    label {
        margin: 0px;
    }
}